body{
    background: #eee;
}
#side_nav{
    background: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.2s;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background:#eee;
}
.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}
.sidebar li a{
    color: #fff;
}
@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}
.widget-tabla{
    background-color: lightgray;
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin-top: 350px;
    margin-left: 5px;
    box-shadow: 2px 2px 5px lightgrey;
}
.welcome{
    font-size: 80px;
    margin-left: 65px;
}

.fc-toolbar h2 {
    font-size: 16px;
    margin: 0;
}

.fc-head {
    background: rgba(0,0,0,.125);
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}
.img-fluid {
    max-height: 200px;
    max-width: 400px;
    height: auto;
    width: 100%;
}