<!DOCTYPE html>

<html lang="es">

<head>
  <!--Meta tags-->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Bootstrap CSS-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">


<title>Parties</title>

</head>

<body>
  <div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
      <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
        <a href="/" class="text-decoration-none">
        <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2"><i class="far fa-democrat"></i></span> <span class="text-white">Fiestabulous</span></h1>
        </a>
      </div>
      <ul class="list-unstyled px-2">
        <li class=""><a href="/" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i></i>Dashboard</a></li>
        <li class="active"><a href="/parties" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-hat-wizard fa-spin"></i> Parties</a></li>
        <li class="" hidden><a href="#" class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between">
        <span><i class="far fa-user-friends"></i>Friends</span>
        <span class="bg-dark rounded pill text-white py-0 px-2">02</span>
        </a>
        </li>
        <li class="" hidden><a href="/new_party" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-question"></i>New party</a></li>
      </ul>
      <hr class="h-color mx-2">
      <ul class="list-unstyled px-2">
        <li class="" hidden><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-cog"></i>Settings</a></li>
        <li class="" id="LogOut"><a href="/auth/login" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-sign-out"></i> Logout</a></li>
      </ul>
    </div>
    <div class="content">
      <div style="display: flex; justify-content: center; align-items: center;">
        <div class="row" style="display: flex; justify-content: space-between; width: 100%; margin: 10px; align-items: center;">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Insert party code" aria-label="Example text with button addon" aria-describedby="button-addon1" id="partyCode">
              <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="enrollParty()"><i class="fas fa-qrcode"></i> Enroll party</button>
            </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-success btn-lg my-4" style="font-size: 18px; width: 100%;" data-bs-toggle="modal" data-bs-target="#createPartyModal">New party?</button>
          </div>
        </div>
      </div>
      
      
      <div class="card border-0 rounded-5 shadow" style="display:flex; align-items:center; margin:30px;">
        <div class="card-header bg-secondary text-white rounded-5" style="width: 100%;">
          <h5 class="mb-0">Parties</h5>
        </div>
        <div class="card-body" style="height: auto;" id="parties">
        </div>
      </div>
  </div>

  <div class="modal fade" id="createPartyModal" tabindex="-1" aria-labelledby="createPartyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPartyModalLabel">Create Party</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="create-party-form">
          <div class="modal-body">
            <div class="row">
            <div class="col-md-6">
              <label for="name" class="form-label"><i class="far fa-hat-wizard fa-spin"></i> Party Name</label>
              <input type="text" class="form-control" id="partyName" name="partyName" required>
            </div>
            <div class="col-md-6">
              <label for="date" class="form-label"><i class="far fa-calendar-alt"></i> Date</label>
              <input type="datetime-local" class="form-control" id="date" name="date" required>
            </div>
            <div class="col-md-6">
              <label for="location" class="form-label"><i class="far fa-map-marker-alt"></i> Location</label>
              <input type="text" class="form-control" id="location" name="location" placeholder="Coordinates (20.72,-103.43)" required>
            </div>
            <div class="col-md-6">
              <label for="limitGuests" class="form-label"><i class="far fa-user-friends"></i> Limit Guests</label>
              <input type="number" class="form-control" id="limitGuests" name="limitGuests" required>
            </div>
            <div class="col-md-6">
              <label for="limitBudget" class="form-label"><i class="far fa-money-bill-alt"></i> Limit Budget</label>
              <input type="number" class="form-control" id="limitBudget" name="limitBudget" required>
            </div>
            <div class="col-md-6" hidden>
              <label for="organizer_id" class="form-label"><i class="far fa-user"></i> Organizer ID</label>
              <input type="number" class="form-control" id="organizer_id" name="organizer_id" readonly>
            </div>
            <div class="col-md-6">
              <label for="organizer" class="form-label"><i class="far fa-user"></i> Organizer</label>
              <input type="text" class="form-control" id="organizer" name="organizer" readonly>
            </div>
            <div class="col-md-6">
              <label for="description" class="form-label"><i class="far fa-comment-alt"></i> Description</label>
              <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" onclick="event.preventDefault(); createParty();">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
  
  <script>
    getParties = async () => {
      const response = await fetch("https://fiestabulous.herokuapp.com//api/event/?type=active", {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      });
      const data = await response.json();
      return data;
    }
    getParties().then(response => {
      $("#parties").html("");
      for ([key, value] of Object.entries(response)) {
        date = value.date.split(" ")[0];
        time = value.date.split(" ")[1];
        $("#parties").append(`
        <a href="/party/${value.id}" class="text-decoration-none text-dark">
          <div class="row">
            <div class="col-sm-2">
            <p><b>${value.name}</b></p>
            <p>${value.description}</p>
            <p><i class="far fa-user-friends"></i> ${value.guests}</p>
            <p><i class="far fa-clock"></i> ${time}</p>
            </div>
            <div class="col-sm-5">
            <div id="calendar-${key}"></div>
            </div>
            <div class="col-sm-5">
            <iframe src="https://maps.google.com/maps?${value.location}&z=12&output=embed" width="100%" height="100%" allowfullscreen="" zoom="18"></iframe>
            </div>
          </div>
        </a>
        <hr class="hr">
        `);
        $('#calendar-' + key).fullCalendar({
        header: {
          left: '',
          center: 'title',
          right: ''
        },
        height: 300,
        defaultView: 'month',
        weekends: true,
        editable: false,
        selectable: false,
        eventLimit: true,
        defaultDate: date,
        events: [
        {
          start: date,
        } 
        ]
        });
      }
    });

    $(".sidebar ul li").on('click', function(){
      $(".sidebar ul li.active").removeClass('active');
      $(this).addClass('active');
    });

      $('.open-btn').on('click', function(){
        $('.sidebar').addClass('active');
      });

      $('.close-btn').on('click', function(){
        $('.sidebar').removeClass('active');
      });

  </script>
  </div>
</body>

</html>